<ion-view title="Activity" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="activity-button-bar4" class="button-bar">
      <button id="activity-button21" style="font-weight:600;" class="button button-light button-small button-block">Following</button>
      <button id="activity-button24" style="font-weight:300;" class="button button-light button-small button-block">You</button>
    </div>
    <ion-list id="activity-list2">
      <ion-item class="item-avatar item-icon-right" id="activity-list-item2">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item8">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item6">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item7">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item5">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item3">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="activity-list-item4">
        <img src="img/hero-shawn-mendes-face-scar.jpg">
        <h2>some people</h2>
        <p>liked ur photo</p>
        <i class="icon ion-alert-circled"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>