<ion-view title="camera" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/pexels-photo-614810.jpegautocompresscstinysrgbdpr3h750w1260" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="camera-button-bar3" class="button-bar">
      <button id="camera-button18" style="font-weight:600;" class="button button-stable button-block">Library</button>
      <button id="camera-button19" style="font-weight:300;" class="button button-light button-block">Photo</button>
      <button id="camera-button20" style="font-weight:300;" class="button button-light button-block">Video</button>
    </div>
  </ion-content>
</ion-view>