<ion-view title="home" id="page4">
  <ion-content padding="false" class="has-header">
    <ion-list id="home-list1">
      <ion-item class="item-avatar item-icon-right" id="home-list-item1" ui-sref="tabsController.profile()">
        <h2>Nama Saya</h2>
        <p>Friday Lab</p>
        <i class="icon ion-android-bulb"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/skincare-994444.jpgr1532587813853" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-button-bar2" class="button-bar">
      <button id="home-button11" class="button button-light button-block icon ion-ios-heart-outline"></button>
      <button id="home-button12" class="button button-light button-block icon ion-flash"></button>
      <button id="home-button13" class="button button-light button-block"></button>
      <button id="home-button14" class="button button-light button-block icon ion-flag"></button>
    </div>
    <div id="home-markdown1" class="show-list-numbers-and-dots padding">
      <p style="color:#000000;">
        <strong>This is a photo of my janda</strong>
      </p>
    </div>
  </ion-content>
</ion-view>