<ion-view title="Profile" id="page8">
  <ion-content padding="true" class="has-header">
    <div>


      <title>Example</title>

      <!-- CSS -->
      <style>
        .myTableText { 
          width: 100%;
          border-collapse: collapse;
          background-color: #98FB98; 
          }
        .myTableText td, 
        .myTableText th { 
          border: 2px solid #47ae32;
          padding: 5px; 
          }
        .myTableText th { 
          font: bold 18px/1.1em Arial, Helvetica, sans-serif;
          text-shadow: 1px 1px 4px black; 
          letter-spacing: 0.1em; 
          background-color: #47ae32; 
          color:#98FB98; 
          }
        .myTableText td { 
          font: normal 14px/1.5em Goudy, Georgia, serif;
          color: #47ae32; 
          }
        .myTableText td a:link { 
          color: #006400;
          text-decoration: none; 
          }
        .myTableText td a:visited { 
          color: #006400; 
          }
        .myTableText td a:hover { 
          color: #FF4500;
          text-decoration: underline; 
          }
        .myTableText td a:active { 
          color: #FF0000; 
          }
      </style>




      <!-- HTML -->
      <table class="myTableText">
        <tbody>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
          </tr>
          <tr>
            <td>Try
              <a href="/css/">CSS</a>
            </td>
            <td>And
              <a href="/css/css3/">CSS 3</a>
            </td>
          </tr>
          <tr>
            <td>Or
              <a href="/html/">HTML</a>
            </td>
            <td>Or
              <a href="/sql/tutorial/">SQL</a>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
    <div id="profile-button-bar5" class="button-bar">
      <button id="profile-button28" class="button button-light button-block icon ion-android-add"></button>
      <button id="profile-button29" class="button button-balanced button-block icon ion-android-alert"></button>
      <button id="profile-button30" class="button button-calm button-block"></button>
    </div>
    <h5 id="profile-heading1" style="color:#000000;">My profile</h5>
    <div id="profile-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>