<ion-view title="Search" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="search-form1" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search photo">
      </label>
    </form>
    <table border="1">

      <tbody>
        <tr>

          <th>ID</th>

          <th>Name</th>

          <th>Quality</th>

          <th>Quantity</th>

        </tr>

        <tr>

          <td>1</td>

          <td>Wheat</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

        <tr>

          <td>2</td>

          <td>Rice</td>

          <td>Good</td>

          <td>250 Bags</td>

        </tr>
        <tr>

          <td>3</td>

          <td>Sugar</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

      </tbody>
    </table>
    <table border="1">

      <tbody>
        <tr>

          <th>ID</th>

          <th>Name</th>

          <th>Quality</th>

          <th>Quantity</th>

        </tr>

        <tr>

          <td>1</td>

          <td>Wheat</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

        <tr>

          <td>2</td>

          <td>Rice</td>

          <td>Good</td>

          <td>250 Bags</td>

        </tr>
        <tr>

          <td>3</td>

          <td>Sugar</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

      </tbody>
    </table>
    <table border="1">

      <tbody>
        <tr>

          <th>ID</th>

          <th>Name</th>

          <th>Quality</th>

          <th>Quantity</th>

        </tr>

        <tr>

          <td>1</td>

          <td>Wheat</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

        <tr>

          <td>2</td>

          <td>Rice</td>

          <td>Good</td>

          <td>250 Bags</td>

        </tr>
        <tr>

          <td>3</td>

          <td>Sugar</td>

          <td>Good</td>

          <td>200 Bags</td>

        </tr>

      </tbody>
    </table>
  </ion-content>
</ion-view>